<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</head>

<body>
    <h2 id="head">INVENTORY LOGIN</h2>  
    <form id="form" action="/login" method="POST">
        <div class="form-group">
            <label for="username">USER ID</label>
            <input type="text" id="name" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div id="err">
            {% if error%}
                <p><strong>{{error}}</strong></p>
            {% endif%}
        </div>
        <div>
            <button type="submit" id="submit">SUBMIT</button><br> 
        </div>
    </form>
</body>
</html>