<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reg.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div id="full">
        <div id="bill">
            <h1 id="head">BILL DETAILS</h1>  
            
            <form id="form">
                <label for="vendor_name">Vendor Name<span class="required">*</span></label><br>
                <select id="vendor_name" name="vendor_name" required>
                    <option value=""selected disabled hidden>SELECT VENDOR</option>
                        {% block vendor %}
                            {% for item in data %}
                                <option value="{{ item }}">{{ item[0] }}</option>
                            {% endfor %}
                        {% endblock %}
                </select><br>
    
                    <label for="challan">Challan<span class="required">*</span></label><br>
                    <input type="text" id="challan" name="challan" required><br>
    
                <label for="Bill_date">Bill Date<span class="required">*</span></label><br>
                <input type="date" id="Bill_date" name="Bill_date" required><br>
            </form>
        </div>
    
        <div id="item">

            <h2 id="head1">ITEM DETAILS</h2>
        
            <form id="dynamicForm">
                <div id="fieldsContainer">
                    <!-- Initial field -->
                    <div class="field-group">

                        <div class="field">
                            <label for="medicine">Medicine<span class="required">*</span></label><br>
                            <select name="product[]" id="medicine">
                                <option value=""selected disabled hidden>SELECT MEDICINE</option>
                                    {% block medicine %}
                                        {% for item in items %}
                                            <option value="{{ item }}">{{ item[0] }}</option>
                                        {% endfor %}
                                    {% endblock %}
                            </select>
                        </div>

                        <div class="field">
                            <label for="Rate">Rate<span class="required">*</span></label><br>
                            <input type="text" name="rate[]" id="Rate" placeholder="Enter Rate *" required>
                        </div>

                        <div class="field">
                            <label for="Quantity">Quantity<span class="required">*</span></label><br>
                            <input type="number" name="quantity[]" id="Quantity" placeholder="Enter Quantity *" required>
                        </div>

                        <div class="field">
                            <label for="Manf_Date">Manf Date<span class="required">*</span></label><br>
                            <input type="date" name="Manf_Date[]" id="Manf_Date" required>
                        </div>

                        <div class="field">
                            <label for="Exp_date">Expiry Date<span class="required">*</span></label><br>
                            <input type="date" id="Exp_date" name="Exp_date[]" required><br>
                        </div>

                        <div class="field">
                            <label for="MRP">MRP<span class="required">*</span></label><br>
                            <input type="text" name="MRP[]" id="MRP" placeholder="Enter MRP *" required>
                        </div>
                        
                            <label for="remove"></label>
                            <button class="remove-field" id="remove">Remove</button>
                    </div>
                </div>
                <!-- Button to add new fields -->
                <button id="addField">Add Field</button>
                <button type="submit" id="submit">Submit</button>
                <!-- Submit button -->
            </form>
        </div>

    </div>
    
        <script type="text/javascript" src= "{{ url_for('static',filename='js/purchase_reg.js') }}"></script>
</body>
</html>