#head{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 100px;
    width: 500px;
  }

body {
  background-color: #BBD5ED;
  color: #38023B;
  font-family: "Inter", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  }
  
form {
  width: 500px;
  padding: 150px;
  margin: 0 auto;
  margin-left: 33%;
  font-family: Arial, sans-serif;
  }
  
label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  }
  
input[type="text"],
input[type="password"],
select,
textarea {
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  }

  #err {
    color: #d62828;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
  
#submit {
  background-color: #003049;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  text-align: center;
  /* position: absolute; */
  }